<div id="items" v-cloak>

  <% if (me) { %>
    <navbar :me="me" :user-data="userData"></navbar>
  <% } else { %>
    <navbar></navbar>
  <% } %>

  <div class="container pt-5 pb-5">

    <div class="row pb-5">
      <%- include('../../partials/user-wallets.ejs', { wallets: res.userWallets } ); %>
    </div>

    <div class="row">
      <div class="col-12 p-0">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/stores">Stores</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              <%= storeName %>
            </li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="cards">
      <% ads.forEach(function (ad) { %>
        <div class="row mb-3">
          <div class="col-12 p-0">
            <div class="card shadow-sm">
              <a class="card-overlay" href="<%= ad.item.url %>"></a>
              <div class="card-body">
                <h5 class="card-title"><%= ad.item.name %></h5>
                <div class="card-text">
                  <b><%= ad.promoValue || ad.item.value %></b>
                  <i class="fa <%= ad.item.coin.iconCSSClass %> ml-1"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% }); %>
    </div>

  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
