<div id="items" v-cloak>

  <div class="container pt-5 pb-5">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/stores">Stores</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <%= storeName %>
        </li>
      </ol>
    </nav>

    <% ads.forEach(function (ad) { %>
      <div class="row p-3 justify-content-center">
        <div class="col-8">
          <div class="card">
            <a class="card-overlay" href="<%= ad.item.url %>"></a>
            <div class="card-body">
              <h5 class="card-title"><%= ad.item.name %></h5>
              <div class="card-text">
                <b><%= ad.promoValue || ad.item.value %></b>
                <i class="fa <%= ad.item.coin.iconCSSClass %> ml-1"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% }) %>

  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
