<div id="stores" v-cloak>

  <% if (me) { %>
    <navbar :me="me" :user-data="userData"></navbar>
  <% } else { %>
    <navbar></navbar>
  <% } %>

  <div class="container pt-5 pb-5">

    <div class="row pb-5">
      <%- include('../../partials/user-wallets.ejs', { wallets: res.userWallets } ); %>
    </div>

    <div class="row">
      <div class="col-12 p-0">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Stores</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row cards">
      <% stores.forEach(function (store) { %>
        <div class="card shadow text-white <%= store.isOfficial ? 'bg-primary' : 'bg-secondary' %>">
          <a class="store-overlay" href="<%= store.url %>"></a>
          <div class="card-body">
            <h5 class="card-title">
              <%= store.name %>
            </h5>
            <p class="card-text">
              <%= store.description %>
            </p>
          </div>
        </div>
      <% }); %>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
